currenct rate notifier.json
{
  "name": "currenct rate notifier",
  "nodes": [
    {
      "parameters": {
        "url": " https://v6.exchangerate-api.com/v6/65740eb2f8e64ba69767d8b0/latest/USD",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "7f5c2abc-d241-4440-b1cb-110d7663e7de",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a951b6bb-9904-4225-86bb-7a47ac80536a",
              "leftValue": "={{$json[\"conversion_rates\"][\"INR\"]}}",
              "rightValue": 85,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "db1decc1-c7c3-40c6-9cc5-27261f6fc14c",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "issmouli2003@gmail.com",
        "subject": "Currency Alert - USD/INR",
        "message": "=Current rate: {{$json[\"conversion_rates\"][\"INR\"]}}   It’s above your threshold of 85.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        624,
        -96
      ],
      "id": "11f7972f-ef39-4d2a-8b43-e751ef3d4f50",
      "name": "Send a message",
      "webhookId": "edba69b9-f9c1-429a-bcaa-62eb13aa62ff",
      "credentials": {
        "gmailOAuth2": {
          "id": "R5bawA910srpiBuh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "4e2f7573-22bb-4058-a6a0-316669f4ae46",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "sendTo": "issmouli2003@gmail.com",
        "subject": "Currency Alert - USD/INR",
        "message": "Same price as yesterday... No changes.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        656,
        64
      ],
      "id": "d0502a0e-1b0d-4daf-b295-aa5b346bb1f8",
      "name": "Send a message1",
      "webhookId": "3088c9ea-e0ca-4825-9ecd-c0ea30e19cf2",
      "credentials": {
        "gmailOAuth2": {
          "id": "R5bawA910srpiBuh",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1b862736-f8df-486a-bd38-3c2e73e526e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d5a40dd68ee280f3e7c1ab8fdd5c5b986aae9e309b3df6df10695c3d08d240b"
  },
  "id": "Hnj36UFQ7zWguSmd",
  "tags": []
}