weather_summarizer.json
{
  "name": "weather_summarizer_final",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Weather: Temperature = {{ $json[\"main\"][\"temp\"] }}°C, Feels Like = {{ $json[\"main\"][\"feels_like\"] }}°C, Condition = {{ $json[\"weather\"][0][\"description\"] }}, Humidity = {{ $json[\"main\"][\"humidity\"] }}%, Wind Speed = {{ $json[\"wind\"][\"speed\"] }} m/s.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        384,
        0
      ],
      "id": "11e77b94-6594-4ae8-869a-4774025a24e9",
      "name": "weather"
    },
    {
      "parameters": {
        "sendTo": "issmouli2003@gmail.com",
        "subject": "weather report!!!",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        736,
        16
      ],
      "id": "821c5c11-38d6-41f9-a44a-1225cd27f965",
      "name": "Send a message",
      "webhookId": "be784faf-85fb-42d2-b506-4f0462064b1c",
      "credentials": {
        "gmailOAuth2": {
          "id": "R5bawA910srpiBuh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "cityName": "Hyderabad"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "4a42548d-8266-4a31-b3d5-5f8e5c5b3573",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "OrBwI9wrxFw7Fpnt",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        256,
        176
      ],
      "id": "0755bf0e-ae01-43e6-a361-0016e20ba1db",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "IK9gnChbhwLOjNXr",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "notes": "You are a weather assistant. Generate a weather report in plain text using the following data. \nOutput it in exactly this format:\nWeather: Temperature = X°C, Feels Like = Y°C, Condition = Z, Humidity = H%, Wind Speed = W m/s.\n\nHere is the data:\nTemperature = {{ $json[\"main\"][\"temp\"] }}°C\nFeels Like = {{ $json[\"main\"][\"feels_like\"] }}°C\nCondition = {{ $json[\"weather\"][0][\"description\"] }}\nHumidity = {{ $json[\"main\"][\"humidity\"] }}%\nWind Speed = {{ $json[\"wind\"][\"speed\"] }} m/s\n\nDo not use asterisks, bold text, bullet points, or any Markdown. Output only plain text.\n"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "ffe5df16-b59d-4fd5-97c7-0c8183bf114c",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "weather": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "weather",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aaf967b0-adae-4107-a10b-9c4ecbf5a5bf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d5a40dd68ee280f3e7c1ab8fdd5c5b986aae9e309b3df6df10695c3d08d240b"
  },
  "id": "59s3Wq1utmB4Fvz7",
  "tags": []
}